.btn_login {
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-container {
  display: flex;
  flex-flow: row wrap;
}
.login_container {
    text-align: center;
    width:100%;
}
.login_form {
    height: auto;
}
.error_msg {
    color: red;
}
md-card {
    margin: 16px;
}