<div class="card-container">
  <md-card class="tipp_container"> 
    <md-card-title>Tippen</md-card-title>
    <md-card-content>
        Tipps können bis zum jeweiligen Spielbeginn abgegeben werden und die speziellen Tipps bis zur angegebenen Deadline.
        Alle Tipps können auch nach dem Speichern wieder beliebig oft geändert werden. Es muss nicht sofort überall ein Tipp abgebeben werden.
        Falls versäumt wurde, einen Tipp rechtzeitig abzugeben, gibts dort 0 Punkte.

        Ausschlaggebend zur Punkteberechnung ist das Ergebnis nach 90 Minuten + Nachspielzeit.
        (dh. keine Verlängerung oder Elfmeterschießen)
    </md-card-content>
  </md-card>
</div>