<div class="card-container">
  <md-card class="tipp_container"> 
    <md-card-title>Tippen</md-card-title>
    <md-card-content>
      Tipps können bis zum jeweiligen Spielbeginn abgegeben werden und die speziellen Tipps bis zur angegebenen Deadline.<br>
      Alle Tipps können auch nach dem Speichern wieder beliebig oft geändert werden. Es muss nicht sofort überall ein Tipp abgebeben werden.<br>
      Falls versäumt wurde, einen Tipp rechtzeitig abzugeben, gibts dort 0 Punkte.<br>
      <br>
      Ausschlaggebend zur Punkteberechnung ist das Ergebnis nach 90 Minuten + Nachspielzeit.<br>
      (dh. keine Verlängerung oder Elfmeterschießen)<br>
      <md-nav-list>

      </md-nav-list>
    </md-card-content>
  </md-card>
</div>