<div class="card-container">
  <md-card *ngIf="!categoryname" class="match_container">
    <md-card-title style="margin-bottom:5px"><a [routerLink]="['/tipp']"><md-icon>arrow_back</md-icon></a></md-card-title>
    <md-card-content>
      <md-spinner class="app-spinner"></md-spinner>
    </md-card-content>
  </md-card>
  <md-card class="match_container" *ngFor="let match of matchesmodelview; let i = index;">
    <md-card-title *ngIf="i==0" style="margin-bottom:5px"><a [routerLink]="['/tipp']"><md-icon>arrow_back</md-icon></a> &nbsp; {{categoryname}}</md-card-title>
    <md-card-content class="matchwrapper">
      <div class="matchtop">{{match.matchlocation}}</div>
      <div class="matchbody">
        <div class="matchbody-col1">
          <img class="teamflag" [src]="_DomSanitizationService.bypassSecurityTrustUrl('data:image/jpeg;base64,'+match.team1.flag)" /><br>
          {{match.team1.teamname}}
        </div>
        <div class="matchbody-col2">
          <md-input type="hidden" [(ngModel)]="tippsmodelview[i].matchid" name="matchid"></md-input>
          <md-input type="number" [(ngModel)]="tippsmodelview[i].tipp1" name="tipp1" min="1" max="20"></md-input>
          &nbsp;-&nbsp;
          <md-input type="number" [(ngModel)]="tippsmodelview[i].tipp2" align="end" ame="tipp2" min="1" max="20"></md-input>
          <br>
          <button (click)="submitTipps(i)" class="btn_tipp" color="primary">Absenden</button>
        </div>
        <div class="matchbody-col3">
          <img class="teamflag" [src]="_DomSanitizationService.bypassSecurityTrustUrl('data:image/jpeg;base64,'+match.team2.flag)" /><br>
          {{match.team2.teamname}}
        </div>
      </div>
      <div class="matchbottom">{{match.matchstart}}</div>
    </md-card-content>
  </md-card>
</div>