<div class="card-container">
    <md-card class="teams_create_container"> 
        <md-card-title>Teams anlegen</md-card-title>
        <md-card-content>
            <div class="teams_msg" *ngIf="teams_msg">
                <span class="{{teams_msg[0]}}">{{teams_msg[1]}}</span>
            </div>
            <form (ngSubmit)="doCreateTeam()" #LoginForm="ngForm">
                <md-input required placeholder="Teamname" [(ngModel)]="teamsmodel.teamname" name="teamname"></md-input><br>
                <md-input placeholder="Group" [(ngModel)]="teamsmodel.group" name="group"></md-input><br>
                Teamflag: <input type="file" (change)="selectFile($event)" accept="image/*"><br>
                <button md-raised-button color="primary" class="btn_newteam" type="submit">Anlegen</button>
            </form>
        </md-card-content>
    </md-card>
    <md-card class="teams_edit_container"> 
    <md-card-title>Teams verwalten</md-card-title>
    <md-card-content>
        <md-card *ngFor="let teamview of teamsmodelview">
            <md-card-header>
                <img md-card-avatar [src]="_DomSanitizationService.bypassSecurityTrustUrl('data:image/jpeg;base64,'+teamview.flag)" />
                <md-card-title>{{teamview.teamname}}</md-card-title>
            </md-card-header>
            <md-card-content>

            </md-card-content>
        </md-card>
    </md-card-content>
  </md-card>
</div>