<div class="card-container">
    <md-card class="teams_create_container"> 
        <md-card-title>Teams anlegen</md-card-title>
        <md-card-content>
            <form (ngSubmit)="doCreateTeam()" #LoginForm="ngForm">
                <md-input required placeholder="Teamname" [(ngModel)]="teamsmodel.teamname" name="teamname"></md-input><br>
                <md-input placeholder="Group" [(ngModel)]="teamsmodel.group" name="group"></md-input><br>
                Teamflag: <input type="file" (change)="selectFile($event)"><br>
                <button md-raised-button color="primary" class="btn_newteam" type="submit">Anlegen</button>
            </form>
        </md-card-content>
    </md-card>
    <md-card class="teams_edit_container"> 
    <md-card-title>Teams verwalten</md-card-title>
    <md-card-content>
        <md-card *ngFor="let teamview of teamsmodelview">
            <md-card-content><img [src]="'data:image/png;base64,'+teamview.flag" />{{teamview.teamname}}</md-card-content>
        </md-card>
    </md-card-content>
  </md-card>
</div>