.card-container {
  display: flex;
  flex-flow: row wrap;
}
.teams_create_container {
    width:100%;
}
.teams_edit_container {
    width:100%;
}
.btn_newteam {
    margin-top: 20px;
    margin-bottom: 10px;
}
md-card {
    margin: 16px;
}
.teams_msg {
    margin-bottom: 10px;
}
.error_msg {
    color: red;
}
.success_msg {
    color: green;
}