.card-container {
  display: flex;
  flex-flow: row wrap;
}

.register_container {
    width:100%;
}

md-card {
    margin: 16px;
}

@media(max-width:480px){
    md-input{
        width: 100%;
    }
}
@media(min-width:480px){
    md-input{
        width: 100%;
    }
}